   

.cuadrado {
    background-color: green;
    width: 100%;
    height: 50px;
    position: fixed;
    margin-bottom: 50px;
    z-index: auto;
    
}

.circle{
    background-color: red;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
 
}